<div class="meta">
  {%- if page.date -%}
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
  {%- endif -%}
  {%- if page.series -%}
    · <a href="{{ '/series/' | append: page.series | append: '/' | relative_url }}">{{ page.series }}</a>
  {%- endif -%}
  {%- if page.type -%}
    · {{ page.type }}
  {%- endif -%}
</div>
{%- if page.tags and page.tags.size > 0 -%}
<div class="tags">
  {%- for tag in page.tags -%}
    <span class="tag">#{{ tag }}</span>
  {%- endfor -%}
</div>
{%- endif -%}
